/*
Resizer
*/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Resizer {
  background: #000;
  opacity: 0.4;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

/*
Link form
*/
.link-form {
  border-color: "grey";
  background: rgba(0, 0, 0, 1);
}
/*
left screen
*/
.left-screen {
  background-color: rgb(229, 229, 236);
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*
react-player 
*/
.player-wrapper {
  width: auto;
  height: auto;
  background-color: black;
}
.react-player {
  padding-bottom: 56.25%;
  position: relative;
}
.react-player > div {
  position: absolute;
}

/*
video comments display
*/
.video-comments-display {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
  color: rgb(87, 87, 87);
  background-color: lightblue;
}
.comment-display {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgb(229, 229, 236);

  border-style: solid;
  border-color: darkgray;
  border-top-width: 1px;
  border-bottom-width: 0px;
}

.video-data-display {
  align-items: center;
}

.video-title {
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(66, 66, 66);
  font-size: large;
}
.channel-name {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -15px;
  color: rgb(66, 66, 66);
  font-size: smaller;
}
