/*
Body
==================================================
*/

body{
  margin:0px;
  padding:0px;
  
}


/*
start screen
*/

.start-screen{
  height: 100%;
  padding: 0px;
}

.title-container{
  margin:100px;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  color:#0f52ba;
  background-color: white;
  cursor: default;
}

.title{
  font-size: 50pt;
  margin: 0;
}

.subtitle{
  font-size: 20pt;
  color: #616161;
}

.link-form{
  margin:auto;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f7;

}

.link-container {
  background-color: transparent;
  
  width:60vw;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  
  display: flex;
  justify-content: space-between;
}

.link-input {
  font-size: 20px;
  padding: 15px;
  border-width: 0px;
  border-radius: 10px;
  color:rgb(100, 100, 100);
  flex-grow: 2;
  outline: none;
}

.link-submit {
  height:60px;
  margin-left:10px;
  background-color: transparent;

}



/*
Resizer
*/

.Resizer {
  background: #000;
  opacity: 0.4;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
  background-color: white;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
  background-color: #0f52ba;;
  border-color: #0f52ba;
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

/*
split-screen
*/
.split-screen {
  background-color: #f5f5f7;
}

/*
left screen
*/
.left-screen {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*
react-player 
*/
.player-wrapper {
  margin:10px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 10px;
  width: auto;
  height: auto;
  background-color: black;

}
.react-player {
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}
.react-player > div {
  position: absolute;
}

/*
video data display
*/

.video-data-display {
  align-items: center;

  margin:10px;
  margin-top: 0px;
  padding-top:20px;
  padding-bottom:10px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #e8e8e8;
  background-color: rgb(255, 255, 255);
}


.video-title {
  margin: 0px;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  color: rgb(46, 46, 46);
  font-size: large;
  cursor: default;
}
.channel-data {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
  display:flex;
  align-items: center;
}

.channel-name {
  padding-left: 10px;
  color: rgb(66, 66, 66);
  font-size: smaller;
  float:left; 
  display:inline;
  padding:8px;

  cursor: default;

}

.channel-thumb {
  height: 40px;
  padding-left: 10px;
  float:left; 
  display:inline;
}

/*
video comments display
*/
.video-comments-display {

  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
  color: rgb(87, 87, 87);


  margin:10px;
  margin-top: 0px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #e8e8e8;
  background-color: rgb(255, 255, 255);

  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-color: #e8e8e8;

}
.comment-display {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
  
  border-style: solid;
  border-color: rgb(200, 200, 200);
  border-width: 0px;
  border-bottom-width: 0px;
  font-size: smaller;

  cursor: default;
}


/*
right screen
*/

.right-screen{
  background-color: #f5f5f7;

}

/*
top buttons
*/
.top-buttons{
  width: auto;
  margin-top: -20px;
  margin-left: 10px;
  margin-right: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  color: white;
  
  display:flex;
  align-items: center;
  border-radius: 10px;

  z-index: 1;
  position:relative
}

.reload-button,
.export-button {
  margin:10px;
  margin-top: 30px;
  padding:10px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 10px;
  cursor: pointer;
}

.reload-button{
  color: #616161;
  background-color: #e8e8e8;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}
.reload-button:hover{
  border-color: #0f52ba;
  color: #0f52ba;
  background-color: #e7ecf5;
}


.export-button{
  background-color: #0f52ba;
}
.export-button:hover{
  background-color: #3c70be;
}

/*
question display
*/

.questions-display {
  margin-top: -70px;
  padding-top: 70px;
  height: 100vh;
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
 }

.button-article {
  width: auto;

  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #e8e8e8;

  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px;
  margin-bottom: 0px;
}

.button-article:hover {
  border-color: #0f52ba;
}

.type-article {
  width: auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 0px;
  border-color: #e8e8e8;  
  background-color: rgb(255, 255, 255);


}

.type-article:hover {
  border-color: #0f52ba;
}
/* question*/

.question {
  margin:10px;
  margin-top: 0px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 10px;
  
  padding: 10px;
  margin: 0px;
  cursor: default;
}

/* buttons */

.buttonContainer {
  display: flex;
  text-align: left;
  align-items: center;
}

.type_input,
.buttonClicked,
.buttonMultipleClicked,
.buttonOpen,
.buttonNotClicked {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 10px;
  text-align: center;

  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.buttonOpen,
.buttonNotClicked {
  color: #616161;
  background-color: white;
  border-color: white;
}

.buttonOpen:hover,
.buttonNotClicked:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.buttonOpen:active,
.buttonNotClicked:active {
  background-color: #c4c4c4;
}

.buttonClicked,
.buttonMultipleClicked {
  color: #616161;
  background-color: white;
}

.buttonClicked {
  border-color: #0090f1;
}

.buttonMultipleClicked {
  border-color: #0090f1;
}

.buttonClicked:hover,
.buttonMultipleClicked:hover {
  border-color: white;
  background-color: #e8e8e8;
  cursor: pointer;
}

.buttonClicked:active,
.buttonMultipleClicked:active {
  border-color: white;
  background-color: #c4c4c4;
}

.buttonLabel:hover {
  cursor: pointer;
}

/* type input */

.type_input {
  width: 50%;
  border: none;
  text-align: left;
  box-sizing: border-box;
}

.type_input {
  outline: none !important;
}

